{% extends "base.html" %}

{% set active_nav="contacto" %}

{% block content %}

<div class="row">
    <h1>Contacto</h1>
</div>

<div class="row">
    <div class="col-md-12"> 
        <p>
            Para contactar al Comité Organizador del XLVIII Concurso Regional de Física y Matemáticas ponemos a tu disposición los siguientes medios:
        </p>

        <ul>
            <li>Facebook: <a href="https://www.facebook.com/Concurso-Regional-de-F%C3%ADsica-y-Matem%C3%A1ticas-1010756595661510/">Concurso Regional de Física y Matemáticas</a></li>
            <li>Correo electrónico: concurso@fisica.uson.mx</li>
            <li>Teléfono: 01 (662) 259 - 21 08</li>
            <li>Fax: 01 (662) 259 - 21 09</li>
        </ul>
    </div>
</div>

{% endblock %}
