{% extends "base.html" %}

{% set active_nav="eds_anteriores" %}

{% block content %}

<div class="row">
    <h1>Ediciones anteriores del Concurso Regional de Física y Matemáticas</h1>
</div>

<div class="row">
    <div class="col-md-12">
        <p>
            Para revisar la información de concursos anteriores, haz click en la liga correspondiente:
        </p>

        <p><a href="http://concurso.mat.uson.mx/">XLVII Concurso Regional de Física y Matemáticas</a></p>
        <p><a href="http://concurso.fisica.uson.mx/2014/index.html">XLVI Concurso Regional de Física y Matemáticas</a></p>
        <p><a href="http://concurso.mat.uson.mx/">XLV Concurso Regional de Física y Matemáticas</a></p>
        <p><a href="http://concurso.fisica.uson.mx/2012/index.html">XLIV Concurso Regional de Física y Matemáticas</a></p>
        <p><a href="http://concurso.mat.uson.mx/">XLIII Concurso Regional de Física y Matemáticas</a></p>
        <p><a href="http://concurso.fisica.uson.mx/2010/index.html">XLII Concurso Regional de Física y Matemáticas</a></p>
        <p><a href="http://concurso.mat.uson.mx/">XLI Concurso Regional de Física y Matemáticas</a></p>
        <p><a href="http://concurso.fisica.uson.mx/2008/index.html">XL Concurso Regional de Física y Matemáticas</a></p>
        <p><a href="http://concurso.fisica.uson.mx/2006/index.html">XXXVIII Concurso Regional de Física y Matemáticas</a></p>
    </div>
</div>

{% endblock %}
