{% extends "base.html" %}

{% set active_nav="faqs" %}

{% block content %}

<div class="row">
    <h1>Preguntas frecuentes</h1>
</div>

<div class="row">
    <p>
        A continuación se encuentran las respuestas a preguntas frecuentes relacionadas con la mecánica seguida en el Concurso Regional de Física y Matemáticas.
    </p>
</div>

<div class="row">
    <div class="col-md-6">
        <h4>¿Cuál es la mecánica de los Concursos?</h4>
        <p>
            Los concursos tienen tres etapas: el primer día se realiza un primer examen escrito de donde se selecciona a un cierto número de participantes, tomando en cuenta su desempeño (generalmente se toman los mejores 25 ó 30 participantes), por la noche de ese día se publicará la lista de resultados, para ver si se pasó a la segunda etapa. En esta segunda etapa, los seleccionados presentan un segundo examen escrito, para seleccionar a los 5 mejores que pasarán a la tercera y última etapa como finalistas del Concurso Regional. Esta tercera etapa consiste de un examen oral que tiene como finalidad ubicar a estos 5 finalistas en alguno de los lugares y poderles entregar su premio en la ceremonia de clausura que se lleva a cabo por la tarde del tercer día del concurso.
        </p>

        <h4>¿Cuál es la duración de los exámenes?</h4>
        <p>
            Los exámenes escritos tienen una duración de dos horas, mientras que el examen oral, aunque no tiene una duración fija esta es del orden de una hora, pudiendo alargarse en caso de que el jurado lo considere pertinente.
        </p>

        <h4>¿Se puede inscribir de manera individual o tiene que hacerlo el maestro?</h4>
        <p>
            El Concurso es de carácter personal, por lo que la inscripción es individual y no requiere el aval del profesor para realizarse. Sin embargo, el maestro puede realizar la captura de los datos de sus asesorados. La entrega de la documentación e información de cada uno de los alumnos se hará el día del registro.
        </p>

        <h4>¿En dónde se puede uno hospedar en Hermosillo?</h4>
        <p>
            Existen varios hoteles de costo moderado en la ciudad. Más información se puede encontrar en Hoteles de Hermosillo; ahí se ubican los que están cercanos al Campus de la Unidad Regional Centro de la UNISON.
        </p>
    </div>
    <div class="col-md-6">
        <h4>¿Hay límite de edad para participar en los Concursos Regionales de Física o de Matemáticas?</h4>
        <p>
            Para participar en cualquiera de los dos Concursos Regionales no hay limite de edad, el único requisito es estar cursando el Bachillerato inscrito en alguna Institución de Educación Media Superior (pública o privada) de Baja California, Baja California Sur, Chihuahua, Sinaloa o Sonora, y cumplir con el procedimiento de inscripción detallado en las Bases del Concurso que puedes consultar AQUI.
        </p>

        <h4>¿Cuales son los requisitos para participar en el Concurso Preselectivo de Física?</h4>
        <p>
            Los requisitos se detallan en las Bases del Concurso (y tambien aquí), pero es importante hacer notar que este Concurso está dirigido a Estudiantes nacidos después del 30 de Junio de 1997 y que cursen el 3er. grado de secundaria, segundo o cuarto semestre de bachillerato inscritos en alguna Institución del Estado de Sonora, ya que los 15 mejores lugares serán pre-seleccionados para integrar la Delegación Sonora que irá a la Olimpiada Nacional de Física a realizarse en el mes de Noviembre (y para entonces deben seguir siendo alumnos de Bachillerato) por lo que los alumnos que actualmente cursen el 6º Semestre no pueden participar en este concurso, pero SÍ pueden hacerlo en el Concurso Regional.
        </p>

        <h4>¿Se puede participar en más de un concurso?</h4>
        <p>
            Sí, los exámenes se aplican de tal forma que un mismo alumno puede participar en los tres concursos, temprano por la mañana se aplicará el examen de Matemáticas y a medio día el de Física. Es importante mencionar que el examen de Física es el mismo para el Concurso Regional y para el Preselectivo, pudiéndose dar el caso que un mismo alumno gane en las dos modalidades, siempre y cuando cumpla con los requisitos del preselectivo.
        </p>

    </div>
</div>

{% endblock %}
