{% extends "base.html" %}

{% set active_nav="inicio" %}

{% block content %}
<div class="jumbotron">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <img class="img-responsive" src="http://www.uson.mx/institucional/images/escudo-gde-trans.png" alt="">
            </div>
            <div class="col-md-9">
                <h2>XLIX Concurso regional de Física y Matemáticas</h2>
                <p>Universidad de Sonora</p>
                <p>2017</p>
            </div>
        </div>
    </div>
</div>
    <div class="row">
      <div class="col-md-12">
        <p>
            El Primer Concurso Estatal de Física y Matemáticas se realizó del 14 al 16 de abril de 1969 con la participación de 12 concursantes en física y 42 en matemáticas, procedentes de Hermosillo, Magdalena, Empalme, Ciudad Obregón y Navojoa. A partir de 1983, este concurso de carácter estatal se convirtió en concurso regional para incluir también concursantes de Sinaloa, Chihuahua, Baja California y Baja California Sur.
        </p>
        <p>
            La génesis de este concurso se remonta a diciembre de 1965 cuando obtuve el primer lugar en matemáticas en el Segundo Concurso Nacional de Física y Matemáticas, convocado por la Escuela Superior de Física y Matemáticas del IPN, la Sociedad Mexicana de Física y la Sociedad Matemática Mexicana. A finales de 1968, aprovechando el nombramiento del Lic. Ricardo Valenzuela Galindo como nuevo Director de la Escuela de Altos Estudios de la Universidad de Sonora, lo abordé y me comprometí con él a organizar el Primer Concurso Estatal de Física y Matemáticas si contaba con su apoyo.
        </p>
        <p>
            El licenciado Valenzuela tomó con verdadero entusiasmo la propuesta y procedió de inmediato a concertar varias entrevistas con autoridades y empresarios. Tanto el Rector, Dr. Federico Sotelo Ortiz, como el Director General de Educación del Estado, profesor Gabriel Villegas Maytorena, la apoyaron de inmediato, aceptando ser las instituciones convocantes al concurso y aportar los primeros premios. Los segundos y terceros premios fueron otorgados por el profesor Horacio Soria Larrea, la Asociación de Organismos de Agricultores del Norte de Sonora, el Banco Ganadero y Agrícola y la Unión Ganadera Regional de Sonora. El profesor Enrique Valle Flores hizo una aportación especial adicional para el primer premio en matemáticas.
        </p>
        <p>
            Redacté la convocatoria aprovechando mi experiencia en el concurso nacional y la publicamos en enero de 1969; seguía la nada fácil tarea de conseguir concursantes. Casi exclusivamente con recursos propios, visité 10 de las 11 escuelas preparatorias que funcionaban entonces en Sonora: tres pertenecían a la Universidad de Sonora (en Hermosillo, Magdalena y Navojoa), cuatro eran federales por cooperación (en Nogales, Cananea, San Luis Río Colorado y Empalme), una pertenecía al Instituto Tecnológico de Sonora (en Ciudad Obregón), otra era técnica federal (Escuela Técnica, Industrial y Comercial 26, ahora CBTIS 11, en Hermosillo) y dos eran escuelas particulares incorporadas (Colegio Regis en Hermosillo e Instituto Lasalle en Ciudad Obregón). Por su lejanía y falta de recursos, no pude visitar la preparatoria de San Luis Río Colorado.
        </p>
        <p>
            En estas visitas distribuía convocatorias y solicitudes de inscripción, y procuraba platicar con autoridades, profesores y estudiantes para explicarles los objetivos del concurso, cómo se desarrollaría y el tipo de conocimientos y habilidades a evaluar. Animaba a los estudiantes a participar, solicitaba la ayuda de los profesores para entrenarlos y pedía el apoyo de las autoridades para ambos, tratando de convencerlos de que los concursos eran individuales y no tenían el fin de evaluar a las escuelas. Finalmente el Concurso se realizó en las fechas señaladas con la participación de estudiantes de ocho de las once escuelas preparatorias y culminó con el envío por correo a todos los participantes de una copia de las soluciones de todos los problemas planteados durante el concurso y una ceremonia especial de premiación que se realizó el 28 de mayo de 1969.
        </p>
        <p class="text-right">Hermosillo, Sonora, México; febrero de 2017.</p>
        <p class="text-right">Marco Antonio Valencia Arvizu</p>
    </div>
    {% endblock %}